services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    # develop:
    #   watch:
    #     - path: ./app
    #       action: sync
          
    ports:
      - '5000:5000'
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/flask-app
    restart: unless-stopped

  cache:
    image: redis:latest
    ports:
      - '6379:6379'
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    command: ["redis-server"]

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"] 
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    restart: always

  frontend:
    build:
      context: .
      dockerfile: tailwind.Dockerfile
    command: npm run dev
    develop:
      watch:
        - path: /flask-app/app/static/css
          action: sync
          target: ./flask-app
    volumes:
      - ./app/src:/flask-app/app/src #local_path:container_path
      - ./app/static:/flask-app/app/static/css
    tty: true

volumes:
  pg_data: