{%extends 'base.html'%}

{%block title%}Rooms {%endblock%}

{%block content%}

        <nav id="navbar" class="fixed top-0 left-0 w-full bg-emerald-700 z-50 transition-colors duration-300">
            <div class="container mx-auto px-4 py-4 flex justify-between items-center">
                <a href="#" class="text-2xl font-['Pacifico'] text-white">Hotellina</a>
                <div class="hidden md:flex items-center space-x-8">
                    <a href="{{url_for('public.index') }}"
                        class="text-white hover:text-gray-300 transition-colors">Home</a>
                    <a href="#room" class="text-white underline hover:text-gray-300 transition-colors">Reservation</a>
                    <a href="{{url_for('public.about') }}"
                        class="text-white hover:text-gray-300 transition-colors">About</a>
                    <a href="{{url_for('public.contact') }}"
                        class="text-white hover:text-gray-300 transition-colors">Contact</a>
                </div>
            </div>
        </nav>

        <section id="booking" class="fixed top-15  w-full bg-gray-200 z-50">
            <div class="container mx-auto px-4 ">
                <div class="max-w-6xl mx-auto bg-[url('../../../../static/images/availability-bg.png')] bg-no-repeat bg-right-top shadow-lg rounded-b-lg p-3 md:p-6 relative z-20">
                <form id="availabilityForm" method="" action="{{url_for('rooms.index')}}">
                    <div class="grid grid-cols-3 grid-rows-2 md:grid-cols-4 md:grid-rows-1 gap-2 md:gap-4">
                    <!-- Check In -->
                        <div class="">
                            <label class="block text-sm font-medium text-gray-700 mb-1">Check-In Date</label>
                            <input type="text" name="checkin" id="checkinInput" value="{{checkin}}" class="w-full border text-sm md:text-md border-gray-300 rounded p-2 h-8 md:h-10 cursor-pointer bg-white" placeholder="Select Check In" readonly required />
                        </div>
                    <!-- Check Out -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1">Check-Out Date</label>
                            <input type="text" name="checkout" id="checkoutInput" value="{{checkout}}" class="w-full text-sm md:text-md border border-gray-300 rounded p-2 h-8 md:h-10 cursor-pointer bg-white" placeholder="Select Check Out" readonly required />
                        </div>
                    <!-- Promo Code -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1">Promo Code</label>
                            <input type="text" name="promocode" value="{{promocode}}" class="w-full border text-sm md:text-md border-gray-300 rounded p-2 h-8 md:h-10 cursor-pointer bg-white" placeholder="Enter promo code" equired />
                        </div>
                

                    <!-- Submit Button -->
                        <div class="flex justify-center items-start md:items-end col-span-3 md:col-span-1">
                            <button type="submit" id="checkAvailabilityBtn" class=" w-full md:w-[70%] text-sm md:text-md bg-primary text-white py-2 px-2 h-8 md:h-10 rounded hover:bg-secondary transition-colors whitespace-nowrap">
                                Check Availability
                            </button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </section>
        
        
        <div class="container mx-auto flex flex-col items-start justify-start mt-25 md:mt-8 px-5 md:px-50 pt-40 pb-2">
            
            <!-- <h1 class="text-4xl font-bold text-center mb-10">Our Rooms</h1> -->
            
            <section class="flex justify-start">
                <div class="flex flex-col items-start rounded-lg bg-white/50 lg:w-[75%] p-5">
                    <!-- Booking Sumamry -->
                    <div class="hidden lg:block fixed h-screen w-70 top-44 right-48 p-3 rounded-lg shadow-md bg-white z-10">
                        <div class="flex flex-col">
                            <span class="border-b-2 border-dashed border-gray-300"></span>
                            <h1 class="text-md lg:text-lg font-bold mb-1 lg:mb-2">Boooking Summary</h1>
                            <!-- Date Summary -->
                            <div class="flex items center justify-between mb-1">
                                <div class="flex flex-col">
                                    <span id="checkin-date" class="text-md font-bold">{{checkin}}</span>
                                    <span class="text-xs text-gray-400">From 2:00 PM</span>
                                </div>
                                <span class="text-lg font-bold text-gray-400">→</span>
                                <div class="flex flex-col">
                                    <span class="text-md font-bold">{{ checkout }}</span>
                                    <span class="text-xs text-gray-400">To 12:00 PM</span>
                                </div>
                            </div>
                            <div class="flex flex-col justify-between mb-1">
                                <!-- Date Summary -->
                                <div class="flex items-center">
                                    <span id="night-total" class="text-sm font-bold text-blue-600">0</span>
                                    <span class="text-sm text-blue-600 ml-1">night/s</span>
                                </div>
                                <div class="w-full h-15 bg-gray-600/30 rounded-md mb-2">
                                    <div id="display-rooms" class="flex flex-col p-1">
                                      
                                    </div>
                                    
                                </div>
                                <span class="border-b-2 border-dashed border-gray-300 mb-1"></span>
                                <div class="flex">
                                    <span class="text-md lg:text-lg font-bold mr-2">Total:</span>
                                    <span class="text-md lg:text-lg font-bold mr-2">Php </span>
                                    <span id="total-price" class="text-md lg:text-lg font-bold text-primary">0.00</span>
                                </div>
                            </div>
                            <button type="submit" id="checkAvailabilityBtn" disabled class=" w-full text-md bg-gray-500 text-white py-1 px-2 :h-8 rounded  transition-colors whitespace-nowrap">
                                Book Now
                            </button>
                        </div> 
                    </div>
                    <!-- Mobile Version -->
                    <div class="block lg:hidden fixed h-30 lg:h-screen w-full lg:w-70 bottom-0 lg:top-44 right-0 lg:right-48 p-4 rounded-lg shadow-md bg-white z-30 lg:z-10">
                        <div class="flex flex-col">
                            <span class="border-b-2 border-dashed border-gray-300 mb-1"></span>
                            <h1 class="text-md lg:text-lg font-bold mb-1 lg:mb-2">Boooking Summary</h1>
                            <div class="flex justify-between mb-1">
                                <!-- Date Summary -->
                                <div class="flex items-center">
                                    <span id="night-total-mobile" class="text-sm font-bold text-blue-600">0</span>
                                    <span class="text-sm text-blue-600 ml-1">night/s</span>
                                    <span class="mx-2">|</span>
                                    <span id="room-total" class="text-sm font-bold text-blue-600">0</span>
                                    <span class="text-sm text-blue-600 ml-1">rooms</span>
                                </div>
                                <div class="flex">
                                    <span class="text-md lg:text-lg font-bold mr-2">Total:</span>
                                    <span class="text-md lg:text-lg font-bold mr-2">Php </span>
                                    <span id="total-price-mobile" class="text-md lg:text-lg font-bold text-primary">0.00</span>
                                </div>
                            </div>
                            <button type="submit" id="checkAvailabilityBtn" disabled class="w-full text-sm md:text-md bg-primary text-white py-1 px-2 h-6 md:h-10 rounded hover:bg-secondary transition-colors whitespace-nowrap">
                                Book Now
                            </button>
                        </div> 
                    </div>

                    {%for room_type in room_types %}
                        <div class="lg:w-full bg-white rounded-lg shadow-md overflow-hidden mb-8 flex flex-col lg:flex-row">
                            <img src="../../../../static/images/nmcr_downloaded_image.png" alt="Deluxe Room"
                                class="w-full lg:w-1/2 h-64 lg:h-auto object-cover">
                            <div class="p-6 flex flex-col justify-center">
                                <div id="sample" class="flex justify-center items-start flex-col mb-2">
                                
                                    <h2 id="room-name" class="text-2xl font-bold">{{room_type["name"]}}</h2>
                                    <div class="flex flex-wrap">
                                        <div class="flex justify-start items-start gap-1 w-25  text-primary text-center text-xs py-1 mb-1 rounded">
                                            <img src="../../../../static/images/bed.png" alt="" class="h-4">
                                            <span class="">{{room_type["bedtype"]}}</span>
                                        </div>
                                        <div class="flex justify-start items-start gap-1 w-20  text-primary text-center text-xs px-1 py-1 mb-1 rounded">
                                            <img src="../../../../static/images/area.png" alt="" class="h-4">
                                            <span class="">{{room_type['size']}} m²</span>
                                        </div>
                                        <div class="flex justify-start items-start gap-1 w-25  text-primary text-center text-xs px-1 py-1 mb-1 rounded">
                                            <img src="../../../../static/images/group.png" alt="" class="h-4">
                                            <span class="">{{room_type["capacity"]}} Persons</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-sm text-gray-600 mb-4">{{room_type['description']}}</p>

                                <p class="text-xs text-gray-600 mb-2 mt-1"><span class="font-bold">Note: </span>{{room_type["note"]}}</p>
                                
                                <h3 class="text-md font-bold">Amenities</h3>
                                <div class="flex flex-wrap gap-2 mb-4">
                                    {%for amenity in room_type["amenities"]%} 
                                        <span class="bg-emerald-100 text-primary text-xs px-2 py-1 rounded">{{amenity}}</span>
                                    {%endfor%}
                                </div>

                                <!-- Prices -->
                                <div class="flex justify-center items-start flex-col mt-1">
                                    <div class="flex">
                                        <span class="text-primary font-bold block mr-2">Php</span>
                                        <span id="room-price" class="text-primary font-bold block">{{room_type['price']}} </span>
                                        <span class="text-primary font-bold block ml-2">per night</span>
                                    </div>
                                    <span class="text-gray-500 text-xs font-semibold text-justify mb-2 block"> Price includes all taxes and fees </span>
                                </div>
                                
                                <div class="mt-2">
                                    <label for="select-room-dropdown" class="block text-xs font-medium text-gray-700 mb-1">Room</label>
                                    <select id="select-room-dropdown"
                                        class="w-full border border-gray-300 rounded p-2 text-xs">
                                        {% set number = room_type['capacity'] | int %}
                                        {%for num in range(number + 1)%}
                                            <option
                                                value='{{num}}'>
                                                {{num}} room</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                    
                </div>
                
            </section>
            

            

        </div>

        <div id="confirmationModal"
            class="fixed inset-0 modal-overlay flex items-center justify-center hidden z-50">
            <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-100">
                <h2 class="text-xl font-semibold mb-4 text-gray-800">Confirm Your Booking</h2>
                <p class="text-gray-600 mb-6">Are you sure you want to submit your booking?</p>
                <div class="flex justify-end gap-4">
                    <button id="cancelModal"
                        class="px-4 py-2 rounded text-white bg-red-500 hover:bg-red-800">Cancel</button>
                    <button id="confirmModal" type="button"
                        class="px-4 py-2 rounded bg-emerald-700 text-white hover:bg-emerald-800">Confirm</button>
                </div>
            </div>
        </div>

        <script>
            
        </script>

    
{%endblock%}