@import "tailwindcss";
 html {
            scroll-behavior: smooth;
            scroll-padding-top: 80px;
        }

        body {
            font-family: sans-serif;
        }
/* Custom Colors */
.bg-primary {
    background-color: #166534 !important;
}
/* 40% opacity */
.bg-opacity-40 {
    background-color: rgba(22, 101, 52, 0.4) !important; 
}

.bg-secondary {
    background-color: #34d399 !important;
}
.text-primary {
    color: #166534 !important;
}

.text-secondary {
    color: #34d399 !important;
}

.hover\:bg-primary:hover {
    background-color: #166534 !important;
}

.hover\:bg-secondary:hover {
    background-color: #34d399 !important;
}

.rounded-button {
    border-radius: 8px !important;
}
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}


/* Smooth blinking */
@keyframes smooth-blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
}
        
.smooth-blink {
            animation: smooth-blink 1.5s ease-in-out infinite;
}